@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap/dist/css/bootstrap-theme.css";

$border-radius: 4px;

.center-text {
  text-align: center;
}

body {
  font-size: 16px;
}

.search-screen {

  .title {
    margin-bottom: 2rem;
  }

  .search-panel {
    .search-group {
      justify-content: center;
    }

    margin-bottom: 2rem;
  }

  .explanation {
    text-align: center;
    margin-bottom: 2rem;
  }

  .search-results {
    margin-bottom: 1rem;

    .spinner {
      margin: 2rem auto;
    }

    .search-result {
      width: 100%;
      padding: 5px 10px;
      display: flex;
      background-color: white;
      justify-content: flex-start;

      &:first-child {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
      }

      &:last-child {
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        border-bottom-width: 1px;
      }

      border: 1px solid lightgray;
      border-bottom-width: 0;

      .kanji {
        display: flex;
        font-size: 3rem;
        justify-content: center;
        width: 25%;
        align-items: center;

        &:hover {
          cursor: pointer;
          color: lightgray;
        }
      }

      .right-panel {
        display: flex;
        width: 75%;
        flex-direction: column;
        justify-content: space-between;

        .description-line {
          display: flex;

          .none {
            color: lightgray;
          }
        }
      }
    }
  }
}
